@import "tailwindcss";

:root {
  background-color: #f8fafc;
}

body {
  margin: 0;
  min-height: 100vh;
  /* On force le fond à couvrir toute la hauteur */
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}